<!DOCTYPE html>
<html>
<head>
	<title>主页</title>
</head>
<body>
	<a href="../htmlcss/">htmlcss基础</a>
	<a href="../js/">js基础</a>
	<a href="../form">表单</a>
	<a href="/xdm">跨文档</a>
	<a href="/new-tuozhuai">拖拽事件</a>
	<a href="/new-error">xml</a>
	<a href="/new-module">jquery</a>
	<a href="/new-vue">vue</a>
	<a href="/new-xss">xss</a>
	<a href="/new-fangdou">防抖和节流</a>
	<a href="/new-worker">webworker</a>
	<a href="/new-huancun">缓存机制</a>
	<a href="/new-promise">手写promise</a>
	<a href="/new-cookie">cookie</a>
	<a href="/new-trash">垃圾回收</a>

	Object.keys(obj)!!!!
	<span style="color:red">js所有自由变量的查找是函数定义的地方，向上级作用域查询，不是执行的地方</span>
</body>
</html>